-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: tara_pangasinan
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `spots`
--

LOCK TABLES `spots` WRITE;
/*!40000 ALTER TABLE `spots` DISABLE KEYS */;
/*!40000 ALTER TABLE `spots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `spot_activities`
--

LOCK TABLES `spot_activities` WRITE;
/*!40000 ALTER TABLE `spot_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `spot_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `spot_gallery`
--

LOCK TABLES `spot_gallery` WRITE;
/*!40000 ALTER TABLE `spot_gallery` DISABLE KEYS */;
/*!40000 ALTER TABLE `spot_gallery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `spot_tips`
--

LOCK TABLES `spot_tips` WRITE;
/*!40000 ALTER TABLE `spot_tips` DISABLE KEYS */;
/*!40000 ALTER TABLE `spot_tips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `spot_stats`
--

LOCK TABLES `spot_stats` WRITE;
/*!40000 ALTER TABLE `spot_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `spot_stats` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-17 17:21:23
